<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>案例管理 - 设计案例库</title>
</head>
<body>
  <script src="https://unpkg.com/decap-cms@^3/dist/decap-cms.js" is:inline></script>
</body>
</html>
